<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSFTP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoSFTP.Settings>
            <setting name="SFTPServer" serializeAs="String">
                <value>205.216.17.3</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>dgi-test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDirectory" serializeAs="String">
                <value>E:\DGW\Logs</value>
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value>/PROD/DGW/Logs</value>
            </setting>
            <setting name="LastRunDate" serializeAs="String">
                <value>20150330</value>
            </setting>
            <setting name="SshPrivateKeyPath" serializeAs="String">
                <value>E:\DGW\Web\AutoSFTP\logshipper.ppk</value>
            </setting>
            <setting name="SshHostKeyFingerprint" serializeAs="String">
                <value>ssh-rsa 2048 2d:5f:46:44:02:b5:4d:fd:31:f0:f1:7b:16:b1:99:8e</value>
            </setting>
        </AutoSFTP.Settings>
    </applicationSettings>
</configuration>